@font-face {
  font-family: 'Stonehenge Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Stonehenge Regular'), url('stonehen.woff') format('woff');
}

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
//@import "node_modules/vue-image-lightbox/dist/vue-image-lightbox.min.css";

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;



/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */


body {
  // font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
  @apply my-4 text-base font-sans leading-normal tracking-normal;
}

.text-celtic {
  font-family: 'stonehenge', serif;
}

.h2 {
  @apply text-3xl mb-4;
}

.nav-link {
  @apply text-grey-darkest no-underline block mt-4 mr-4;
}
.nav-link:hover {
  @apply text-black;
}
@screen sm {
  .nav-link {
    @apply inline-block mt-0;
  }
}


.skeleton {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 30%, #f6f7f8 50%, #f6f7f8 100%);;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}